*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#eef3f8;
    color:#333;
    line-height:1.6;
}

header{
    background:linear-gradient(
        rgba(0,51,102,0.8),
        rgba(0,51,102,0.8)
    ),
    url("images/background.jpg");

    background-size:cover;
    background-position:center;

    color:white;
    text-align:center;
    padding:80px 20px;
}

.profile{
    width:170px;
    height:170px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid white;
}

.hero h1{
    margin-top:15px;
    font-size:2.5rem;
}

.hero p{
    margin:15px 0;
}

.btn{
    display:inline-block;
    background:white;
    color:#003366;
    padding:12px 25px;
    border-radius:5px;
    text-decoration:none;
    font-weight:bold;
}

section{
    max-width:1100px;
    margin:25px auto;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

h2{
    margin-bottom:20px;
    color:#003366;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.skills span{
    background:#003366;
    color:white;
    padding:10px 15px;
    border-radius:20px;
}

.gallery{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

.gallery img{
    width:220px;
    height:160px;
    object-fit:cover;
    border-radius:10px;
}

video{
      width: 150px;
    max-width: 50%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}


.whatsapp-btn {
    display: inline-block;
    background: #25D366;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 10px;
}

.whatsapp-btn:hover {
    opacity: 0.9;
}

.contact p {
    font-size: 18px;
    margin: 15px 0;
}

.contact i {
    color: #0077cc;
    margin-right: 10px;
    font-size: 20px;
}

.contact a {
    text-decoration: none;
    color: #0077cc;
    font-weight: bold;
}

@media(max-width:768px){

    .gallery{
        justify-content:center;
    }

    .gallery img{
        width:100%;
        max-width:300px;
    }

    .hero h1{
        font-size:2rem;
    }
}